.outerContainer{
  height: 100%;
  display:flex;
  flex-direction: column;
}

.mainContainer{
  box-sizing:border-box;
  padding: 0 20px 5px 0;
  margin-top:10px;
  flex-grow:1;
  display:flex;
  flex-direction: row;
  width:100%;
  height:100%;
}

.header{
  display:flex;
  flex-direction:row;
  height:120px;
  box-seizing:border-box;
  border-bottom:1px solid black;

}

.headerAreaOuter{
  height:100%;
  width:150px;
  display:flex;
  flex-direction:column;
  overflow:hidden;
  font-size:10px;
}
  .headerAreaInnerTop{
    flex-basis:0;
    flex-grow:1;
  }

  .headerAreaInnerBottom{
    flex-basis:0;
    flex-grow:2;
    display:flex;
    flex-direction:row;
  }

  .headerAreaButton{
    flex-grow:1;

  }

.leftContainer{
  padding: 5px;
  flex-grow:0;
  display:flex;
  flex-direction: column;
  flex-basis:80%; // is ignored by firefox
  min-width: 80%;
}

.overlayContainer{
  position:absolute;
  left:200px;
  padding: 5px;
  margin-left:10px;
  flex-grow:0;
  flex-basis:30%;
  overflow-y:hidden;
}

.rightContainer{
  flex-basis:20%; // is ignored by firefox
  min-width:20%;
}

.z1000{
  z-index: 1000;
  visibility: visible;
}

.zMinus1000{
  z-index: -1000000;
  visibility: hidden;
}






.test{
  border:2px ridge blue;
  width:300px;
}

.testx1{
  color:orange;
}




