<div class="outerContainer">
  <div class="header">
    <app-gui-headerdivision [header]="'Main Functions'">
      <button (click)="createItem()"> Create new Item </button>
      <button (click)="saveHandler()"> Save </button>
      <button (click)="loadHandler()"> Load </button>
      <button (click)="deleteHandler()" > Delete Selected Item</button>
    </app-gui-headerdivision>
    <div style="width:40px;"> </div> <!-- Spacer  -->



    <!--  left selection  -->
    <app-gui-headerdivision [header]="'left Component'">
      <button (click)="selectLeftView('overview')">overview</button>
      <button (click)="selectLeftView('action')">action</button>
      <button (click)="selectLeftView('projects')"> projects </button>
    </app-gui-headerdivision>

    <!--  left content  -->
    <div style="width:5px;"> </div> <!-- Mini -  Spacer  -->
    <app-gui-headerdivision [header]="'overview'" *ngIf="leftView === 'overview'" > <app-mainpage-overview-gui></app-mainpage-overview-gui> </app-gui-headerdivision>
    <app-gui-headerdivision [header]="'test'" *ngIf="leftView === 'action'" > <app-testcomponent-gui></app-testcomponent-gui> </app-gui-headerdivision>
    <app-gui-headerdivision [header]="'projects'" *ngIf="leftView === 'projects'" > <app-projects-gui></app-projects-gui> </app-gui-headerdivision>

    <!--  right selection  -->
    <div style="width:40px;"> </div> <!-- Spacer  -->
    <app-gui-headerdivision [header]="'right Component'">
      <button (click)="selectRightView('details')">details</button>
      <button (click)="selectRightView('daily')">daily</button>
      <button (click)="selectRightView('tabview')">overview -  tabs</button>
    </app-gui-headerdivision>

    <!--  right content  -->
    <div style="width:5px;"> </div> <!-- Mini -  Spacer  -->
    <app-gui-headerdivision [header]="'details'" *ngIf="rightView === 'details'" > <app-goaldetails-gui></app-goaldetails-gui> </app-gui-headerdivision>

    <!-- test functions -->
    <div style="width:40px;"> </div> <!-- Spacer  -->
    <app-gui-headerdivision [header]="'Test Functions'">
      <button (click)="logHandler()"> Log FundedList</button>
      <div class="radiolabel"> Private </div>
      <mat-radio-group aria-label="Juiciness" [(ngModel)]="showPrivate [0]">
        <mat-radio-button *ngFor="let o of [true, false]" [value]="o"> {{o}} </mat-radio-button>
      </mat-radio-group>
      <button (click)="switchOverlayDisplay()"> switch Overlay </button>
    </app-gui-headerdivision>

  </div>

  <div class="mainContainer">
    <div class="leftContainer">
      <app-mainpage-overview *ngIf="leftView === 'overview'"></app-mainpage-overview>
      <app-mainpage-actions *ngIf="leftView === 'action'"> </app-mainpage-actions>
      <app-projects *ngIf="leftView === 'projects'"></app-projects>
    </div>
    <div class="rightContainer" [ngClass]="{ 'z1000': showOverlaySection === true, 'zMinus1000': showOverlaySection === false }" >
      <app-goaldetails *ngIf="rightView === 'details'" [item]="selectedItem" (ok)="detailOkHandler($event)" ></app-goaldetails>
      <app-daily *ngIf="rightView === 'daily'"> </app-daily>
      <app-tabview *ngIf="rightView === 'tabview'"> </app-tabview>
    </div>
  </div>
</div>
