<div class="outerContainer">
  <mat-toolbar>
    <button (click)="createItem()"> Create new Item </button>
    <button (click)="saveHandler()"> Save </button>
    <button (click)="loadHandler()"> Load </button>
    <button (click)="logHandler()"> Log FundedList</button>
    <button (click)="deleteHandler()" > Delete Goal</button>
    <div style="width:20px;"> </div> <!-- Spacer  -->


    <app-gui-headerdivision [header]="'left'" [labelList]="['overview', 'test']" (clickEmitter)="selectLeftView($event)"> </app-gui-headerdivision>
    <div style="width:20px;"> </div> <!-- Spacer  -->
    <app-gui-headerdivision [header]="'right'" [labelList]="['details', 'test']" (clickEmitter)="selectRightView($event)"> </app-gui-headerdivision>




  </mat-toolbar>

  <div class="mainContainer">
    <div class="leftContainer">
      <app-mainpage-overview *ngIf="leftView === 'overview'"></app-mainpage-overview>
      <div *ngIf="leftView === 'test'"> Test View </div>
    </div>
    <div class="rightContainer">
      <app-goaldetails *ngIf="rightView === 'details'" [item]="selectedItem" (ok)="detailOkHandler($event)" ></app-goaldetails>
      <div *ngIf="rightView === 'test'"> Test View </div>
    </div>
  </div>
</div>
