:host {
  width: 100%;
  height: 100%;
}


.outerContainer{
  height: 100%;
  display:flex;
  flex-direction: column;
}

.mainContainer{
  box-sizing:border-box;
  padding: 0 20px 5px 0;
  margin-top:10px;
  flex-grow:1;
  display:flex;
  flex-direction: row;
  width:100%;
}

.leftContainer{
  padding: 5px;
  flex-grow:1;
  display:flex;
  flex-direction: column;
  flex-basis:70%;
}

.leftSubArea{
  flex-grow:1;
  border:1px solid grey;
}

::ng-deep .mat-tab-body-wrapper{
  flex-grow: 1;
}



::ng-deep .mat-tab-group{
  height:100%;
}

::ng-deep .mat-tab-body-content{
  box-sizing: border-box;
  padding: 5px;
  display:flex;
  flex-direction: column;
}
