<div class="outerContainer">
  <div class="header">
    <div *ngIf="baseProject === null"> no Item selected   </div>
    <div *ngIf="baseProject !== null && ['smallproject', 'largeproject'].includes (baseProject.actionGoalField)"> {{baseProject.displayName}} --- {{baseProject.id}}  </div>
    <div *ngIf="baseProject !== null && ! ['smallproject', 'largeproject'].includes (baseProject.actionGoalField)"> Selected Item is not a project   </div>
  </div>

  <div style="flex-basis:20px;"> </div> <!-- Spacer -->

  <ng-container *ngIf="baseProject !== null">
    <app-grid4> <!-- a grid with 4 boxes -->
      <app-doubleCard g1>
        <div header1> Associated Tasks and Practises </div>
        <div body1>
          <ng-container *ngFor="let item of goalList">
            <ng-container *ngIf="item.parentList.includes(baseProject.id) && ['task', 'practise'].includes (item.actionGoalField) ">
             <app-gui-goal-item [Item]="item"></app-gui-goal-item>
            </ng-container>
          </ng-container>
        </div>
        <div header2> Indirect sub-tasks </div>
        <div body2>
          <ng-container *ngFor="let item of grandchildrenList">
            <ng-container *ngIf="['task', 'practise'].includes (item.actionGoalField) ">
              <app-gui-goal-item [Item]="item"></app-gui-goal-item>
            </ng-container>
          </ng-container>
        </div>
      </app-doubleCard>
      <app-doubleCard g2>
        <div header1> Sub-Projects </div>
        <div body1>
          <ng-container *ngFor="let item of goalList">
            <ng-container *ngIf="item.parentList.includes(baseProject.id) && ['smallproject', 'largeproject'].includes (item.actionGoalField) ">
              <app-gui-goal-item [Item]="item"></app-gui-goal-item>
            </ng-container>
          </ng-container>
        </div>
        <div header2> Indirect sub- Projects </div>
        <div body2>
          <ng-container *ngFor="let item of grandchildrenList">
            <ng-container *ngIf="['smallproject', 'largeproject'].includes (item.actionGoalField) ">
              <app-gui-goal-item [Item]="item"></app-gui-goal-item>
            </ng-container>
          </ng-container>
        </div>
      </app-doubleCard>
      <app-doubleCard g3>
        <div header1> Risk - permanent  </div>
        <div body1>
          <ng-container *ngFor="let item of goalList">
            <ng-container *ngIf="item.parentList.includes(baseProject.id)
              && ['risk'].includes (item.actionGoalField)
               && ['permanent'].includes (item.actionGoalFieldSecondary)">
              <app-gui-goal-item [Item]="item"></app-gui-goal-item>
            </ng-container>
          </ng-container>
        </div>
        <div header2> Risk - Acute  </div>
        <div body2>
          <ng-container *ngFor="let item of goalList">
            <ng-container *ngIf="item.parentList.includes(baseProject.id)
              && ['risk'].includes (item.actionGoalField)
               && ['acute'].includes (item.actionGoalFieldSecondary)">
              <app-gui-goal-item [Item]="item"></app-gui-goal-item>
            </ng-container>
          </ng-container>
        </div>
      </app-doubleCard>
      <app-card g4>
        <div header>   </div>
        <div body> work in progress </div>
      </app-card>
    </app-grid4>
  </ng-container>


</div>




