<div class="outerContainer">
  <div class="header">
    <div *ngIf="baseProject === null"> no Item selected   </div>
    <div *ngIf="baseProject !== null && ['smallproject', 'largeproject'].includes (baseProject.actionGoalField)"> {{baseProject.displayName}} --- {{baseProject.id}}  </div>
    <div *ngIf="baseProject !== null && ! ['smallproject', 'largeproject'].includes (baseProject.actionGoalField)"> Selected Item is not a project   </div>
  </div>

  <div style="flex-basis:20px;"> </div> <!-- Spacer -->

  <ng-container *ngIf="baseProject !== null">
    <app-grid8> <!-- a grid with 4 boxes -->
      <app-doubleCard g1>
        <div header1> Associated Tasks and Practises </div>
        <div body1>
          <ng-container *ngFor="let item of goalList">
            <ng-container *ngIf="item.parentList.includes(baseProject.id) && ['task', 'practise'].includes (item.actionGoalField) ">
             <app-gui-goal-item [Item]="item"></app-gui-goal-item>
            </ng-container>
          </ng-container>
        </div>
        <div header2> Indirect sub-tasks </div>
        <div body2>
          <ng-container *ngFor="let item of grandchildrenList">
            <ng-container *ngIf="['task', 'practise'].includes (item.actionGoalField) ">
              <app-gui-goal-item [Item]="item"></app-gui-goal-item>
            </ng-container>
          </ng-container>
        </div>
      </app-doubleCard>
      <app-doubleCard g2>
        <div header1> Sub-Projects </div>
        <div body1>
          <ng-container *ngFor="let item of goalList">
            <ng-container *ngIf="item.parentList.includes(baseProject.id) && ['smallproject', 'largeproject'].includes (item.actionGoalField) ">
              <app-gui-goal-item [Item]="item"></app-gui-goal-item>
            </ng-container>
          </ng-container>
        </div>
        <div header2> Indirect sub- Projects </div>
        <div body2>
          <ng-container *ngFor="let item of grandchildrenList">
            <ng-container *ngIf="['smallproject', 'largeproject'].includes (item.actionGoalField) ">
              <app-gui-goal-item [Item]="item"></app-gui-goal-item>
            </ng-container>
          </ng-container>
        </div>
      </app-doubleCard>
      <app-doubleCard g3>
        <div header1> Risk - permanent  </div>
        <div body1>
          <ng-container *ngFor="let item of goalList">
            <ng-container *ngIf="item.parentList.includes(baseProject.id)
              && ['risk'].includes (item.actionGoalField)
               && ['permanent'].includes (item.actionGoalFieldSecondary)">
              <app-gui-goal-item [Item]="item"></app-gui-goal-item>
            </ng-container>
          </ng-container>
        </div>
        <div header2> Risk - Acute  </div>
        <div body2>
          <ng-container *ngFor="let item of goalList">
            <ng-container *ngIf="item.parentList.includes(baseProject.id)
              && ['risk'].includes (item.actionGoalField)
               && ['acute'].includes (item.actionGoalFieldSecondary)">
              <app-gui-goal-item [Item]="item"></app-gui-goal-item>
            </ng-container>
          </ng-container>
        </div>
      </app-doubleCard>
      <app-doubleCard g4>
        <div header1>  Associated Goals  </div>
        <div body1>
          <ng-container *ngFor="let item of goalList">
            <ng-container *ngIf="item.parentList.includes(baseProject.id)
              && ['associatedGoal'].includes (item.actionGoalField)
              && ['primary'].includes (item.actionGoalFieldSecondary)">
              <app-splitrow-dual>
                <div left>
                  <app-gui-goal-item [Item]="item"></app-gui-goal-item>
                </div>
                <div right>
                  <ng-container *ngFor="let otherItem of goalList">
                    <ng-container *ngIf="otherItem.parentList.includes(item.id)
                      && ['measure'].includes (otherItem.actionGoalField)">
                        <app-gui-goal-item [Item]="otherItem"></app-gui-goal-item>
                    </ng-container>
                  </ng-container>
                </div>
              </app-splitrow-dual>

            </ng-container>
          </ng-container>
        </div>
        <div header2> secondary Goals </div>
        <div body2>
          <ng-container *ngFor="let item of goalList">
            <ng-container *ngIf="item.parentList.includes(baseProject.id)
              && ['associatedGoal'].includes (item.actionGoalField)
              && ['secondary'].includes (item.actionGoalFieldSecondary)">
              <app-gui-goal-item [Item]="item"></app-gui-goal-item>
            </ng-container>
          </ng-container>
        </div>
      </app-doubleCard>
      <app-doubleCard g5>
        <div header1>  Challenges  </div>
        <div body1>
          <ng-container *ngFor="let item of goalList">
            <ng-container *ngIf="item.parentList.includes(baseProject.id)
              && ['challenge'].includes (item.actionGoalField)
              ">
                  <app-gui-goal-item [Item]="item"></app-gui-goal-item>
            </ng-container>
          </ng-container>
        </div>
        <div header2>  secondary </div>
        <div body2>
          <ng-container *ngFor="let item of goalList">
            <ng-container *ngIf="item.parentList.includes(baseProject.id)
              && ['challenge'].includes (item.actionGoalField)
              ">
              <app-gui-goal-item [Item]="item"></app-gui-goal-item>
            </ng-container>
          </ng-container>
        </div>
      </app-doubleCard>
      <app-doubleCard g6>
        <div header1>  Roadblocks  </div>
        <div body1>
          <ng-container *ngFor="let item of goalList">
            <ng-container *ngIf="item.parentList.includes(baseProject.id)
              && ['roadblock'].includes (item.actionGoalField)
              ">
              <app-gui-goal-item [Item]="item"></app-gui-goal-item>
            </ng-container>
          </ng-container>
        </div>
        <div header2>  secondary  </div>
        <div body2>
          <ng-container *ngFor="let item of goalList">
            <ng-container *ngIf="item.parentList.includes(baseProject.id)
              && ['roadblock'].includes (item.actionGoalField)
              ">
              <app-gui-goal-item [Item]="item"></app-gui-goal-item>
            </ng-container>
          </ng-container>
        </div>
      </app-doubleCard>
      <app-doubleCard g7>
        <div header1>  Assumptions  </div>
        <div body1>
          <ng-container *ngFor="let item of goalList">
            <ng-container *ngIf="item.parentList.includes(baseProject.id)
              && ['assumption'].includes (item.actionGoalField)
              ">
              <app-gui-goal-item [Item]="item"></app-gui-goal-item>
            </ng-container>
          </ng-container>
        </div>
        <div header2>  secondary  </div>
        <div body2>
          <ng-container *ngFor="let item of goalList">
            <ng-container *ngIf="item.parentList.includes(baseProject.id)
              && ['assumption'].includes (item.actionGoalField)
              ">
              <app-gui-goal-item [Item]="item"></app-gui-goal-item>
            </ng-container>
          </ng-container>
        </div>
      </app-doubleCard>
      <app-doubleCard g8>
        <div header1>  Experiments </div>
        <div body1>
          <ng-container *ngFor="let item of goalList">
            <ng-container *ngIf="item.parentList.includes(baseProject.id)
              && ['experiment'].includes (item.actionGoalField)
              ">
              <app-gui-goal-item [Item]="item"></app-gui-goal-item>
            </ng-container>
          </ng-container>
        </div>
        <div header2>  secondary  </div>
        <div body2>
          <ng-container *ngFor="let item of goalList">
            <ng-container *ngIf="item.parentList.includes(baseProject.id)
              && ['experiment'].includes (item.actionGoalField)
              ">
              <app-gui-goal-item [Item]="item"></app-gui-goal-item>
            </ng-container>
          </ng-container>
        </div>
      </app-doubleCard>
    </app-grid8>
  </ng-container>


</div>




