<div class="outerContainer">
  <div class="upperContainer">
    <ng-container *ngFor="let item of goalList">
      <ng-container  *ngIf="item.actionGoalField === 'system' && item.actionGoalFieldSecondary === 'main'">
        <app-mainsystem [item]="item"> test mainsystem </app-mainsystem>
      </ng-container>
    </ng-container>
  </div>
  <div class="lowerContainer">
    <ng-container *ngFor="let item of goalList">
      <ng-container  *ngIf="item.actionGoalField === 'system'">
        <app-gui-goal-item [Item]="item"></app-gui-goal-item>
      </ng-container>
    </ng-container>
  </div>
</div>
