:host {
  width: 100%;
  height: 100%;
}


.outerContainer{
  height: 100%;
  display:flex;
  flex-direction:column;
  padding:5px;
  gap: 10px;
  box-shadow: var(--shadow-1);
}


.upperContainer{
  flex-basis:80%;
  display:flex;
  flex-wrap: wrap;
  padding:5px;
  gap: 10px;
  box-shadow: var(--shadow-1);
}

.lowerContainer{
  flex-basis:20%;
  display:flex;
  flex-wrap: wrap;
  padding:5px;
  gap: 10px;
  box-shadow: var(--shadow-1);
}
