:host{
  box-seizing:border-box;
  flex-shrink: 1;
  height:32px;
  max-width: 200px;
  position:relative;
  background-image:linear-gradient(to bottom right, #fff, #eee);
}

.main{
  position: absolute;
  text-overflow: clip;
  min-width: 0;
}

.text{
  flex-shrink: 1;
  max-width: 200px;
  height: calc(100% - 5px);
  position:relative;
  overflow:hidden;
}

.textInner{

}

.buttonSpacer{
  width:10px;
}

.selectedButton{
  background-image:linear-gradient(to bottom right, rgb(100,200,100), rgb(180,255, 180) );
}


@keyframes selectedKeyFrames1 {
  0%    {color: rgba(0,0,0,0);}
  50%   {color: rgba(0,0,0,0);}
  62%   {color: rgba(0,0, 255, 1);}
  87%   {color: rgba(0, 0, 255, 1);}
  100%  {color: rgba(0,0,0,0);}
}

@keyframes selectedKeyFrames2 {
  0%    {color: rgba(0,0,0,0);}
  25%  {color: rgba(0,0,0,0);}
  37%    {color: rgba(0,0,255,0.7);}
  87%    {color: rgba(0,0,255,0.7);}
  100%   {color: rgba(0,0,0,0);}
}

@keyframes selectedKeyFrames3 {
  0%  {color: rgba(0,0,0,0);}
  12%    {color: rgba(0, 0,255, 0.4);}
  87%    {color: rgba(0,0,255, 0.4);}
  100%  {color: rgba(0,0,0,0);}
}

.selectedRight1{
  position:absolute;
  font-weight: bold;
  transform: scaleY(2);
  z-index:50;
  top: calc(50% - 11px);
  left: calc(100% + 5px);
  animation-name: selectedKeyFrames1;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}

.selectedRight2{
  position:absolute;
  font-weight: bold;
  transform: scaleY(2);
  z-index:50;
  top: calc(50% - 11px);
  left: calc(100% + 12px);
  animation-name: selectedKeyFrames2;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}

.selectedRight3{
  position:absolute;
  font-weight: bold;
  transform: scaleY(2);
  z-index:50;
  top: calc(50% - 11px);
  left: calc(100% + 19px);
  animation-name: selectedKeyFrames3;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}

.selectedLeft1{
  position:absolute;
  font-weight: bold;
  transform: scaleY(2);
  z-index:50;
  top: calc(50% - 11px);
  left: -13px;
  animation-name: selectedKeyFrames1;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}

.selectedLeft2{
  position:absolute;
  font-weight: bold;
  transform: scaleY(2);
  z-index:50;
  top: calc(50% - 11px);
  left: -20px;
  animation-name: selectedKeyFrames2;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}

.selectedLeft3{
  position:absolute;
  font-weight: bold;
  transform: scaleY(2);
  z-index:50;
  top: calc(50% - 11px);
  left: -27px;
  animation-name: selectedKeyFrames3;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}

.selectedTop1{
  position:absolute;
  font-weight: bold;
  transform: scaleX(2);
  z-index:50;
  top: -21px;
  left: calc(50% - 5px);
  animation-name: selectedKeyFrames1;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}

.selectedTop2{
  position:absolute;
  font-weight: bold;
  transform: scaleX(2);
  z-index:50;
  top: -27px;
  left: calc(50% - 5px);
  animation-name: selectedKeyFrames2;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}

.selectedTop3{
  position:absolute;
  font-weight: bold;
  transform: scaleX(2);
  z-index:50;
  top: -33px;
  left: calc(50% - 5px);
  animation-name: selectedKeyFrames3;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}

.selectedBottom1{
  position:absolute;
  font-weight: bold;
  transform: scaleX(2);
  z-index:50;
  top: calc(100% + 1px);
  left: calc(50% - 5px);
  animation-name: selectedKeyFrames1;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}

.selectedBottom2{
  position:absolute;
  font-weight: bold;
  transform: scaleX(2);
  z-index:50;
  top: calc(100% + 7px);
  left: calc(50% - 5px);
  animation-name: selectedKeyFrames2;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}

.selectedBottom3{
  position:absolute;
  font-weight: bold;
  transform: scaleX(2);
  z-index:50;
  top: calc(100% + 13px);
  left: calc(50% - 5px);
  animation-name: selectedKeyFrames3;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}


.button{
  position:relative;
  box-sizing: border-box;
  height:32px;
  border-radius:0;
  // background-color:#5090ff;

  padding:7px 7px 0 7px;

  box-shadow:
    inset 0 -5px 20px hsla(0, 0%, 0%, 0.3), // top light
    inset 0 5px 20px hsla(0, 0%, 100%, 0.3), // bottom shadow
    0 4px 5px 0 rgba(86,86,86,0.16);

  margin-bottom:8px;
  // background-image:linear-gradient(to bottom right, ghostwhite, #ccf );


  background-image: linear-gradient(
      hsla(0, 0%, 100%, 0.6), hsla(0, 0%, 100%, 0) 50%,
      hsla(0, 0%, 0%, 0.3) 50%, hsla(0, 0%, 100%, 0.2)
  );

}

.button--blue{
  background-image: linear-gradient(#5cf, #1af);
}
.button--green{
  background-image: linear-gradient(#7f7, #3f3);
}

.button--orange{
  background-image: linear-gradient(#f8c000, #f0a020);
}

/* highlight */
.button:before {
  content: '';
  display: block;
  position: absolute;
  left: 3px;
  right: 3px;
  top: 3px;
  height: 12px;
  border-radius: 0px;

  background: linear-gradient( hsla(0, 0%, 100%, 0.8), hsla(0, 0%, 100%, 0) );


}

.button:hover {
  transform: scale(1.05);
  box-shadow:
    inset 0 -5px 20px hsla(0, 0%, 0%, 0.4), /* top light */
    inset 0 5px 20px hsla(0, 0%, 100%, 0.4), /* bottom shadow */
      /* multiple light sources yall */
    -8px 8px 4px hsla(0, 0%, 0%, 0.15), /* drop shadow 1 */
    5px 12px 5px hsla(0, 0%, 0%, 0.2); /* drop shadow 2 */
}

.badge{
  box-sizing:border-box;
  position:absolute;
  background-image:linear-gradient(to bottom right, darkgrey, grey);
  width:18px;
  height:18px;
  padding:1px 1px 1px 1px;
  border-radius:9px;
  z-index:20;
  top:-5px;
  left: calc(100% - 10px);
  padding-top:-5px;
  box-shadow: 0 2px 4px rgba(50,60,70,0.2);

}

.badgeInner {
  border-radius: 8px;
  height: 16px;
  width: 16px;
  margin-top:-1px;
  z-index:30;
  position:absolute;
  top:0;
  left:6px;
  font-size:10px;
}

.badgeInnerBackground {
  background-color: blue;
  border-radius: 8px;
  height: 16px;
  width: 16px;
}

.goldFont{
  color:gold;
}


