<ng-container *ngIf="Item !== null && Item !== undefined" >
  <div  class="{{Item.status | itemColorPipe: Item}} " [ngClass]=" {'main': true,   'goldFont': Item.lifechangingPotential === true }" class="button"  (click)="clickHandler(Item)">
    <div >  <!--   "{'color': Item | itemColorPipe}"> -->


        {{Item.displayName}}

    </div>
    <div class="badge">
      <div class="badgeInnerBackground" [ngStyle]="{'background-image': Item.juicyness | juicynessColorPipe}"></div>
      <div class="badgeInner">  {{Item.juicyness}}  </div>
    </div>
    <ng-container *ngIf="Item === selectedItem">
      <div class="selectedRight1"> <  </div>
      <div class="selectedRight2"> <  </div>
      <div class="selectedRight3"> <  </div>
      <div class="selectedLeft1"> >  </div>
      <div class="selectedLeft2"> >  </div>
      <div class="selectedLeft3"> >  </div>
      <div class="selectedTop1"> &#8964;  </div>
      <div class="selectedTop2"> &#8964;  </div>
      <div class="selectedTop3"> &#8964;  </div>
      <div class="selectedBottom1"> &#8963; </div>
      <div class="selectedBottom2"> &#8963;  </div>
      <div class="selectedBottom3"> &#8963;  </div>
    </ng-container>
  </div>
</ng-container>
