<div class="header"> {{name | fundingCategoryNamePipe}}</div>
<div class="container">
  <ng-container *ngFor="let item of goalList" >
    <ng-container *ngIf="item.categoryA === itemFilter && (item.actionGoalField === actionGoalField || ( actionGoalField === null && ['action', 'goal', 'field'].indexOf(item.actionGoalField) === -1 ))" >
      <div   [ngClass]="{'button--blue': item.priority !== 1, 'button--orange': item.priority === 1 }" class="button"  (click)="clickHandler(item)"> {{item.displayName}}
        <div class="badge">
          <div class="badgeInnerBackground" [ngStyle]="{'background-image': item.juicyness | juicynessColorPipe}"></div>
          <div class="badgeInner">  {{item.juicyness}}  </div>
        </div>
        <ng-container *ngIf="item === selectedItem">
          <div class="selectedRight1"> <  </div>
          <div class="selectedRight2"> <  </div>
          <div class="selectedRight3"> <  </div>
          <div class="selectedLeft1"> >  </div>
          <div class="selectedLeft2"> >  </div>
          <div class="selectedLeft3"> >  </div>
          <div class="selectedTop1"> &#8964;  </div>
          <div class="selectedTop2"> &#8964;  </div>
          <div class="selectedTop3"> &#8964;  </div>
          <div class="selectedBottom1"> &#8963; </div>
          <div class="selectedBottom2"> &#8963;  </div>
          <div class="selectedBottom3"> &#8963;  </div>
        </ng-container>

      </div>
      <div class="buttonSpacer"></div>
    </ng-container>
  </ng-container>
</div>
