<div class="outerContainer">
  <div class="leftContainer">
    <div class="section" *ngFor="let agf of largeCategories ">
      <div class="header"> {{agf}} </div>
      <ng-container *ngFor="let fundingState of agf | actionGoalFieldToStatusPipe">
        <app-goalcontainer [goalList]="goalList" [name]=fundingState  [itemFilter]=fundingState [actionGoalField]=agf></app-goalcontainer>
      </ng-container>
    </div>
  </div>
  <div class="rightContainer">
    <app-grid4>
      <app-card g1>
        <div header> Problems </div>
        <div body>
          <ng-container *ngFor="let item of goalList">
            <ng-container *ngIf="item.actionGoalField === 'problem'">
              <app-gui-goal-item [Item]="item"></app-gui-goal-item>
            </ng-container>
          </ng-container>
        </div>
      </app-card>
      <app-card g2>
        <div header> Assumptions </div>
        <div body>
          <ng-container *ngFor="let item of goalList">
            <ng-container *ngIf="item.actionGoalField === 'assumption'">
              <app-gui-goal-item [Item]="item"></app-gui-goal-item>
            </ng-container>
          </ng-container>
        </div>
      </app-card>
      <app-card g3>
        <div header> Confusions </div>
        <div body>
          <ng-container *ngFor="let item of goalList">
            <ng-container *ngIf="item.actionGoalField === 'confusion'">
              <app-gui-goal-item [Item]="item"></app-gui-goal-item>
            </ng-container>
          </ng-container>
        </div>
      </app-card>
      <app-card g4>
        <div header> Contingencies </div>
        <div body>
          <ng-container *ngFor="let item of goalList">
            <ng-container *ngIf="item.actionGoalField === 'contingency'">
              <app-gui-goal-item [Item]="item"></app-gui-goal-item>
            </ng-container>
          </ng-container>
        </div>
      </app-card>
    </app-grid4>
  </div>
</div>
