<mat-card>
  <mat-card-header>Filter</mat-card-header>
  <mat-card-content>

    <div class="main">
      <div class="radiocontainer">
        <mat-checkbox [(ngModel)]="useFilter [0]"> USE FILTER  </mat-checkbox>
      </div>

      <div class="radiocontainer">
        <div class="radiolabel">  Lifechanging Potential </div>
        <mat-checkbox [(ngModel)]="highlightList.lifechangingPotential.gamechanging"> gamechanging </mat-checkbox>
        <mat-checkbox [(ngModel)]="highlightList.lifechangingPotential.lifechanging"> lifechanging </mat-checkbox>
      </div>

      <div class="radiocontainer">
        <div class="radiolabel"> Moneyblocked </div>
        <mat-checkbox [(ngModel)]="highlightList.moneyblocked.soft"> soft  </mat-checkbox>
        <mat-checkbox [(ngModel)]="highlightList.moneyblocked.hard"> hard  </mat-checkbox>
      </div>

      <div class="radiocontainer">
        <div class="radiolabel"> solveable</div>
        <mat-checkbox [(ngModel)]="highlightList.solveable.money"> money  </mat-checkbox>
        <mat-checkbox [(ngModel)]="highlightList.solveable.timeAndEnergy"> time and energy  </mat-checkbox>
        <mat-checkbox [(ngModel)]="highlightList.solveable.determinedAction"> determined action  </mat-checkbox>
      </div>
    </div>
  </mat-card-content>
</mat-card>

<mat-card>
  <mat-card-header>Highlighting </mat-card-header>
  <mat-card-content>

    <div class="main">
      <div class="radiocontainer">
        <div class="radiolabel"> Moonshots  </div>
        <mat-radio-group [(ngModel)]="highlightMoonshots [0]">
          <mat-radio-button *ngFor="let o of [false, true]" [value]="o">  {{o}}</mat-radio-button>
        </mat-radio-group>
      </div>

      <div class="radiocontainer">
        <div class="radiolabel"> Lifechanging  </div>
        <mat-radio-group [(ngModel)]="highlightLifechanging [0]">
          <mat-radio-button *ngFor="let o of [false, true]" [value]="o">  {{o}}</mat-radio-button>
        </mat-radio-group>
      </div>


    </div>
  </mat-card-content>
</mat-card>
