<div class="outerContainer">
  <div class="row">
    <div class="gridBox">
      <ng-content select="[g1]"></ng-content>
    </div>
    <div class="gridBox">
      <ng-content select="[g2]"></ng-content>
    </div>
    <div class="gridBox">
      <ng-content select="[g3]"></ng-content>
    </div>
    <div class="gridBox">
      <ng-content select="[g4]"></ng-content>
    </div>
  </div>
  <div class="row">
    <div class="gridBox">
      <ng-content select="[g5]"></ng-content>
    </div>
    <div class="gridBox">
      <ng-content select="[g6]"></ng-content>
    </div>
    <div class="gridBox">
      <ng-content select="[g7]"></ng-content>
    </div>
    <div class="gridBox">
      <ng-content select="[g8]"></ng-content>
    </div>
  </div>
</div>



