<div class="outerContainer" *ngIf="item !== null">
  <app-card>
    <div header>
      <app-gui-goal-item [Item]="item"> </app-gui-goal-item>
    </div>
    <div body>
      {{item | extractChildListByRealtionshipTypePipe: 'subsystem'}}
      <ng-container *ngFor="let childItem of goalList">
        <ng-container *ngIf="(item | extractChildListByRealtionshipTypePipe: 'subsystem') .indexOf(childItem.id) !== -1 " >
          <app-gui-goal-item [Item]="childItem"> </app-gui-goal-item>
        </ng-container>
      </ng-container>
    </div>
  </app-card>
</div>
