<mat-card>
  <mat-card-header>Details</mat-card-header>
  <mat-card-content>
    <div *ngIf="item === null"> No Item defined </div>
    <div *ngIf="item !== null" class="main">

      <form class="example-form">
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Displayname</mat-label>
          <input #displaynameRef matInput [(ngModel)]="item.displayName" [ngModelOptions]="{standalone: true}">
        </mat-form-field>
      </form>


      <mat-form-field>
        <mat-label> Select Funding Level </mat-label>
        <mat-select [(ngModel)]="item.categoryA">
          <mat-option *ngFor="let option of  ['funded', 'semi-funded', 'near', 'seminear', 'far', 'veryfar']" [value]="option">
            {{option | fundingCategoryNamePipe}}
          </mat-option>
        </mat-select>
      </mat-form-field>


      <mat-form-field>
        <mat-label> Select Time Category </mat-label>
        <mat-select [(ngModel)]="item.categoryB">
          <mat-option *ngFor="let option of  ['perennial', 'one-time-long','one-time-short']" [value]="option">
            {{option}}
          </mat-option>
        </mat-select>
      </mat-form-field>



      <div class="radiocontainer">
        <div class="radiolabel"> Juicyness</div>
        <mat-radio-group aria-label="Juiciness" [(ngModel)]="item.juicyness">
          <mat-radio-button *ngFor="let o of [0, 1, 2, 3, 4, 5]" [value]="o"> {{o}} </mat-radio-button>
        </mat-radio-group>
      </div>

      <div class="radiocontainer">
        <div class="radiolabel"> Primary Resource </div>
        <mat-radio-group aria-label="Juiciness" [(ngModel)]="item.primaryResource">
          <mat-radio-button *ngFor="let o of ['time', 'money', 'time AND money']" [value]="o"> {{o}} </mat-radio-button>
        </mat-radio-group>
      </div>

      <div class="radiocontainer">
        <div class="radiolabel"> Action Category </div>
        <mat-radio-group aria-label="Juiciness" [(ngModel)]="item.actionCategory">
          <mat-radio-button *ngFor="let o of [ 'purchase', 'practise',  'project', 'meta-action', 'other']" [value]="o"> {{o}} </mat-radio-button>
        </mat-radio-group>
      </div>

      <div class="radiocontainer">
        <div class="radiolabel"> Action / Goal / Field  </div>
        <mat-radio-group aria-label="Juiciness" [(ngModel)]="item.actionGoalField">
          <mat-radio-button *ngFor="let o of [ 'action', 'goal', 'field', 'smallproject', 'largeproject', 'metaaction'  ]" [value]="o"> {{o}} </mat-radio-button>
        </mat-radio-group>
      </div>

    </div> <!--END : MAIN  -->
    <button (click)="okHandler()"> OK </button>
  </mat-card-content>
</mat-card>
