<mat-card>
  <mat-card-header>Details</mat-card-header>
  <mat-card-content>
    <div *ngIf="item === null"> No Item defined </div>
    <div *ngIf="item !== null" class="main">

      <form class="example-form">
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Displayname</mat-label>
          <input #displaynameRef matInput [(ngModel)]="item.displayName" [ngModelOptions]="{standalone: true}">
        </mat-form-field>
      </form>

      <div class="radiocontainer">
        <div class="radiolabel"> Funding Level / Realism </div>
        <mat-radio-group aria-label="Juiciness" [(ngModel)]="item.categoryA">
          <mat-radio-button *ngFor="let o of ['funded', 'semi-funded', 'near', 'seminear', 'far', 'veryfar']" [value]="o"> {{o  | fundingCategoryNamePipe}} </mat-radio-button>
        </mat-radio-group>
      </div>

      <div class="radiocontainer">
        <div class="radiolabel"> Juicyness</div>
        <mat-radio-group aria-label="Juiciness" [(ngModel)]="item.juicyness">
          <mat-radio-button *ngFor="let o of [0, 1, 2, 3, 4, 5]" [value]="o"> {{o}} </mat-radio-button>
        </mat-radio-group>
      </div>

      <div class="radiocontainer">
        <div class="radiolabel"> Primary Resource </div>
        <mat-radio-group aria-label="Juiciness" [(ngModel)]="item.primaryResource">
          <mat-radio-button *ngFor="let o of ['time', 'money', 'time AND money']" [value]="o"> {{o}} </mat-radio-button>
        </mat-radio-group>
      </div>

      <div class="radiocontainer">
        <div class="radiolabel"> Action / Goal / Field  </div>
        <mat-radio-group aria-label="Juiciness" [(ngModel)]="item.actionGoalField">
          <mat-radio-button *ngFor="let o of [ 'action', 'goal', 'field', 'smallproject', 'largeproject', 'metaaction'  ]" [value]="o"  (change)="actionGoalFieldSelected($event)"> {{o}} </mat-radio-button>
        </mat-radio-group>
      </div>
      <div class="radiocontainer">
        <div class="radiolabel"> Secondary Category </div>
        <mat-radio-group aria-label="Juiciness" [(ngModel)]="item.actionGoalFieldSecondary">
          <mat-radio-button *ngFor="let o of item.actionGoalField | actionGoalFieldToSecondaryPipe" [value]="o"> {{o}} </mat-radio-button>
        </mat-radio-group>
      </div>

    </div> <!--END : MAIN  -->
    <button (click)="okHandler()"> OK </button>
  </mat-card-content>
</mat-card>
