:host{
  flex-grow:1;
  border:1px ridge grey;
  overflow: hidden;
}

.header{
  height:30px;
  padding-top:8px;
  text-align:center;
  box-shadow: 10px 5px 5px black;
}

.selected{
  color:red;
  border:2px ridge blue;
}
