:host{
  flex-grow:1;
  border:1px ridge grey;
  position:relative;
}

.header{
  text-align:center;
  height:17px;
  position:absolute;
  top:-12px;
  left:15px;
  z-index:10;
  background-color: aliceblue;
  box-shadow:0 2px 4px rgba(100,100,100,0.2);
  border-radius:8px;
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 5px;
  overflow-y: scroll;
}

.buttonSpacer{
  width:10px;
}

.selectedButton{
  background-image:linear-gradient(to bottom right, rgb(100,200,100), rgb(180,255, 180) );
}

.button{
  background-image:linear-gradient(to bottom right, rgb(100,100,200), rgb(180,180, 255) );
}
